.container{
    padding: 50px;
    align-content: center;
}
.card{
    padding: 50px;
    text-align: center;
}
.form-group{
    padding: 10px;
    align-content: center;
    text-align: center;
}

body{
    background:  url(/../../assets/imgs/q3.jpg);  
    margin-top: 2px;
}

.row
{
    border: black solid;
    height: 270px;
    width: 400px;
    margin-left: 350px;
    margin-top: 30px;
    background-color: rgb(248, 240, 240);
   
}
.btn1
{
    border: black solid;
    background-color: rgb(201, 201, 219);
}
