
<!-- <app-flight-details></app-flight-details> 
<a routerLink="book">Book Flight</a> -->
  <!-- <app-book></app-book>  -->
  
  <nav class="navbar">
  
    <div class="na">
      <h1> <mat-icon routerLink="home">flight</mat-icon> Airline Flight Booking</h1>
    
    </div>
     
    <ul class="nav_viewheader">
      <li class="">
        <a mat-button color="red" routerLink="home"routerLinkActive="active">Home</a>
      </li>
      <li class="">
        <a mat-button color="red" routerLink="allflights"routerLinkActive="active">FlightDetails</a>
      </li>
      <li class="">
      <a mat-button color="red" routerLink="book"routerLinkActive="active">Book the flight</a>
    </li>
 
     

   

    <li class="">
      <a mat-button color="red" routerLink="checkin"routerLinkActive="active">Check IN</a>
    </li>

    <li class="">
      <a mat-button color="red" routerLink="cancle"routerLinkActive="active">Cancle Booking</a>
    </li>
    <li class="">
      <a mat-button color="red"  routerLink="/search">  Search </a>
    </li>
    <li class="">
      <a mat-button color="red" routerLink="/contact">  Contact Us </a>
    </li>
    <li class="">
      <a mat-button color="red"  routerLink="/about"> About Us</a>
    </li>
     
    </ul>

  </nav>
 


  
<!-- 
  <nav class="nav2">
    <div class="contact">
      <a mat-raised-button color="red" routerLink="contact">Contact Us</a>
    </div>
    <div class="about">
      <a mat-raised-button color="red" routerLink="about">About Us</a>
      </div>
  
  
  </nav> -->

  <router-outlet></router-outlet>

  <!-- <div class="footer_about1">

    <p>©flightBooking 2021, All Rights Reserved.</p>

  </div> -->
 
    <div class="footer_about1">
<!-- <div> 
  follow Us On Instagram <a href="https://www.instagram.com/flightaware/">clickHere</a>
</div> -->


                          
   



<div class="footer_about1">
  <ul class="social-links">
    <a href="https://www.facebook.com/FlightAware"><i class="fa fa-facebook-official" aria-hidden="true"></i> </a>
    <a href="http://youtube.com"> <i class="fa fa-youtube"></i></a>
    <a href="https://www.instagram.com/flightaware/"><i class="fa fa-instagram"></i></a>
  <p>©flightBooking 2021, All Rights Reserved.</p>
  </ul>
</div>
     
    