<!-- <p>search works!</p>


 
<h1>Search Status By PNR Number</h1>
<div class = "container">
    <table class = "table tables-striped">
        <thead>
            <tr>
                <th>flightNo</th>
                <th>startPoint</th>
                <th>endPoint</th>
                <th>arrivalTime</th>
                <th>deptTime</th>
                <th>duration</th>
                <th>noOfSeats</th>
                <th>economyClass</th>
                <th>premiumEconomy</th>
                <th>businessClass</th>
                <th>flightDate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flightDetails of search">
                <td>{{flightDetails.flightNo}}</td>
                <td>{{flightDetails.startPoint}}</td>
                <td>{{flightDetails.endPoint}}</td>
                <td>{{flightDetails.arrivalTime}}</td>
                <td>{{flightDetails.deptTime}}</td>
                <td>{{flightDetails.duration}}</td>
                <td>{{flightDetails.noOfSeats}}</td>
                <td>{{flightDetails.economyClass}}</td>
                <td>{{flightDetails.premiumEconomy}}</td>
                <td>{{flightDetails.businessClass}}</td>
                <td>{{flightDetails.flightDate}}</td>
                
            </tr>
        </tbody>
    </table> -->
