
<!-- <app-flight-details></app-flight-details> 
<a routerLink="book">Book Flight</a> -->
  <!-- <app-book></app-book>  -->
  
  <nav class="navbar">
    <div class="na">
      <h1>Welcome To Flight Booking</h1>
    </div>
      <div class="contact">
      <a href="#contact">Contact Us</a>
    </div>
    <div class="about">
      <a href="#about">About Us</a>
      </div>
  </nav>

  <router-outlet></router-outlet>
 
    <div class="Body">

      <div class="about1" id="about">
        
        <h3>About Us</h3>
        <p>This is Flight Booking Website</p>
        
      </div>
      <div class1="contact"id="contact">
        <h3>Contact Us
        </h3>
        9960263022
      </div>
    </div>