<!-- <div class="a">

    
    <p>
        Hello User this Website is for <span style="color: brown;"> <b> Flight Booking</b></span>
    </p>
    <h2> OUR STORY <mat-icon>timeline</mat-icon> </h2>
    <p> 
        The success of our business strategy requires us to build on our foundations by focusing on the business and leisure markets, and driving efficiency and effectiveness.
<br> Our Mission to stand out in the market by offering world class services. our clients should have a piece of mind with their safety and comfort without spending too much
    </p>
    
</div>
 -->

<body>
    
    <div class="row">
        <div class="cell">
            <img id="ic34om" src="/../../assets/imgs/airr.jpeg"/>
        </div>
        <div class="cell">
            <div id="il8dik">
                <span id="ilqipy">Airline is India’s largest passenger airline with a market share of 53.5% as of October, 2021. We primarily operate in India’s domestic air travel market as a low-cost carrier with focus on our three pillars – offering low fares, being on-time and delivering a courteous and hassle-free experience. IndiGo has become synonymous with being on-time.
                    
                    Since our inception in August 2006, we have grown from a carrier with one plane to a fleet of 278 aircraft today. A uniform fleet for each type of operation, high operational reliability and an award winning service make us one of the most reliable airlines in the world.
                    
                    IndiGo has a total destination count of 95 with 71 domestic destinations and 24 International. This includes Kanpur (KNU) which is now open for sale.</span>
                </div>
            </div>
        </div>
        
    </body>