
<head>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<section> 
    <div class="container">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
          </nav> 
     <div class="row">
         <div class="col-sm-6"> 
          <h2 class="my-3"> Contact us </h2> 
         <h2 class="mb-1"> Registered Office </h2>
         <div class="content_div_contact_us mb-3">
             <div class="text_para mb-2"> CIN : L62100DL2004PLC129768 </div>
             <div class="text_para_second"> Upper Ground Floor, Thapar House, Gate No. 2, Western Wing, 124 Janpath, pune – 110001 India.</div>
             <div class="text_para_second"> Fax : +91 11-43513200</div>
        </div>
        <div class="content_div_contact_us mb-3">   
            <div class="text_para_second"> Upper Ground Floor, Thapar House, Gate No. 2, Western Wing, 124 Janpath, pune – 110001 India.</div>
       </div>
       <div class="content_div_contact_us mb-3">   
        <div class="text_para_second"> For comments, concerning Civil Aviation Requirement, Section -3, please contact- Air Transport, Series M, Part IV.</div>
       </div>
        
     
      <div class="second_container mt-4">
        <h2 class="my-3"> Corporate Office </h2>
        <div class="content_div_contact_us mb-2">
            <div class="text_para_second">Level 1, Tower C, Global Business Park, Pune-banglor Highway Road,Pune</div>
            <div class="text_para_second"> <i class="fa fa-phone" aria-hidden="true"></i> Tel : +91 996 0263 22</div>
            <div class="text_para_second"> <i class="fa fa-print" aria-hidden="true"></i> Fax :+91 983 4791 55</div>
           
        </div>
      </div>
      <div class="second_container mt-4">
        <h2 class="my-3"> Customer Support </h2>
        <div class="content_div_contact_us mb-2">
            <div class="text_para_second mb-2"> India : 0124-6173838, 0124-4973838 </div>
        
            <div class="text_para_second"> *Calls may be recorded for training and quality purposes and for compliance with applicable
                 regulatory requirements. <br> <a href="https://www.goindigo.in/information/privacy.html">Click Here</a> to know more about AirGo privacy policy</div>
         
        </div>
      </div>
         </div>
             <div class="col-sm-6"> 
                <div class="responsive-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.7806761080233!2d-93.29138368446431!3d44.96844997909819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32b6ee2c87c91%3A0xc20dff2748d2bd92!2sWalker+Art+Center!5e0!3m2!1sen!2sus!4v1514524647889" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="ig-footer-social-list clearfix">
                    <a href="https://www.facebook.com/FlightAware">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                
                    <a href="https://www.instagram.com/flightaware/" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                
                    <a href="https://www.instagram.com/flightaware/" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                
                    <a href="https://www.facebook.com/FlightAware">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                
                    <a href="">
                        <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                    </a>
                </div>   
              </div>
         </div>
        </div>
    </section> 
   
</body>
   