<!-- <app-flight-details></app-flight-details> -->
<body>
    
    <div class = "container">
        <div class = "row">
            <div class = "col-md-6 offset-md-3">
                <div class = "card">
                    <div class = "card-header">
                        <h3 class = "test text-center">Enter Details For Book Flight</h3>
                    </div>
                    <div class = "card-body">
                        <form [formGroup]= "bookform" (ngSubmit)= "bookNow();bookform.reset();" >
                            <div class = "form-group">
                                <Label for = "adults" class = "form-label">Adults : </Label>
                                <input type = "number" formControlName = "adults" class = "form-control" id = "adult" name = "adult" >
                                <span *ngIf = "bookform.controls.adults"></span> 
                            </div>
                            
                            <!-- <div class = "form-group">
                                <Label for = "age" class = "form-label">Age  </Label>
                                <input type = "number" formControlName = "age" class = "form-control" id = "age" name = "age" >
                                <span *ngIf = "bookform.controls.age"></span>
                            </div> -->
                            
                            <div class = "form-group">
                                <Label for = "children" class = "form-label">Children : </Label>
                                <input type = "number" formControlName = "children" class = "form-control" id = "children" name = "children" >
                                <span *ngIf = "bookform.controls.children"></span>
                            </div>
                            
                            <div class = "form-group">
                                <Label for = "classType" class = "form-label">classType </Label>
                                <input type = "text" formControlName = "classType" class = "form-control" id = "classType" name = "classType" >
                                <span *ngIf = "bookform.controls.classType"></span>
                            </div>
                            
                            <div class = "form-group">
                                <Label for = "startPoint" class = "form-label">start Point</Label>
                                <input type = "text" formControlName = "startPoint" class = "form-control" id = "startPoint" name = "startPoint" >
                                <span *ngIf = "bookform.controls.startPoint"></span>
                            </div>
                            
                            <div class = "form-group">
                                <Label for = "endPoint" class = "form-label">End Point</Label>
                                <input type = "text" formControlName = "endPoint" class = "form-control" id = "endPoint" name = "endPoint" >
                                <span *ngIf = "bookform.controls.endPoint"></span>
                            </div>
                            
                            <div class = "form-group">
                                <Label for = "flightNo" class = "form-label">flightNo</Label>
                                <input type = "number" formControlName = "flightNo" class = "form-control" id = "flightNo" name = "flightNo" >
                                <span *ngIf = "bookform.controls.flightNo"></span>
                            </div>
                            
                            <!-- <div class = "form-group">
                                <Label for = "id" class = "form-label">Id</Label>
                                <input type = "number" formControlName = "id" class = "form-control" id = "id" name = "id" >
                                <span *ngIf = "bookform.controls.id"></span>
                            </div> -->
                            
                            <div class = "form-group">
                                <Label for = "name" class = "form-label">Name</Label>
                                <input type = "text" formControlName = "name" class = "form-control" id = "name" name = "name" >
                                <span *ngIf = "bookform.controls.name"></span>
                            </div>
                            
                        <div class = "form-group">
                            <Label for = "sex" class = "form-label">Gender</Label>
                            <input type = "text" formControlName = "sex" class = "form-control" id = "sex" name = "sex" >
                            <span *ngIf = "bookform.controls.sex"></span>
                        </div>
                        
                        <!-- <div class = "form-group">
                            <Label for = "payment" class = "form-label">payment</Label>
                            <input type = "text" formControlName = "payment" class = "form-control" id = "payment" name = "payment" >
                            <span *ngIf = "bookform.controls.payment"></span>
                        </div>
                        
                        <div class = "form-group">
                            <Label for = "pnrNo" class = "form-label">pnrNo</Label>
                            <input type = "number" formControlName = "pnrNo" class = "form-control" id = "pnrNo" name = "pnrNo" >
                            <span *ngIf = "bookform.controls.pnrNo"></span>
                        </div> -->
                        
                        
                        
                        
                        
                        
                        <div class = "form-group">
                            <button type = "submit" class = "btn1 btn-primary form-control" onsubmit="">Book Now</button> 
                        </div>
                        
                        
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class = "form-group1">
    <button type = "submit" class ="btn btn-primary from-control" routerLink="/book/payment">Pay Now</button>
</div>
</body>